<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="../../js/vue.js"></script>
    <script src="../../js/axios0.18.js"></script>
    <style>
        td{
            border: black 1px solid;
            text-align: center;
        }
        table{
            border-collapse: collapse;
            width: 100%;
        }
    </style>
</head>
<body>
<div id="app">
    <table>
        <tr>
            <td>订单号</td>
            <td>排片单号</td>
            <td>电影名</td>
            <td>座位号</td>
            <td>支付时间</td>
            <td>支付金额</td>
            <td>支付状态</td>
        </tr>
        <tr v-for="item in orderList">
            <td>{{item.orderNumber}}</td>
            <td>{{item.orderSchedulingId}}</td>
            <td>{{item.film.filmName}}</td>
            <td>{{item.orderSeat}}</td>
            <td>{{formatDate(item.orderTime)}}</td>
            <td>{{item.orderMoney}}</td>
            <td v-if="item.orderState === 2">已支付</td>
            <td v-if="item.orderState === 0">未支付</td>
            <td v-if="item.orderState === 3">已退款</td>
        </tr>
    </table>
</div>
</body>
</html>
<script>
    new Vue({
        el: '#app',
        data: {
            orderList: '',
            seatinfo:''
        },
        methods: {
            getAllOrder() {
                let _this = this;
                axios.post("http://localhost:8080/chwk/movie/getallorderbymovieid")
                    .then(function (resp) {
                        console.log(resp.data.data)
                        _this.orderList = resp.data.data;
                    })
            },
            formatDate(timestamp) {
                const date = new Date(timestamp);
                const year = date.getFullYear();
                const month = (date.getMonth() + 1).toString().padStart(2, '0');
                const day = date.getDate().toString().padStart(2, '0');
                const hours = date.getHours().toString().padStart(2, '0');
                const minutes = date.getMinutes().toString().padStart(2, '0');
                const seconds = date.getSeconds().toString().padStart(2, '0');
                return `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`;
            },

        },
        mounted() {
            this.getAllOrder();
        }
    })
</script>